html {
	scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background: #fbfafb;
    color: black;
    min-width: 390px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
}
section{
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    position: relative;
    top: 60px;
    scroll-margin-top: 60px;
}
@media only screen and (min-width: 992px){
    section{
        top: 80px;
        padding: 100px 0px;
        scroll-margin-top: 80px;
    }
}
.container{
    width: 100%;
    height: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: 0 auto;
}
@media only screen and (min-width: 992px){
    .container{
        padding: 0px 50px;
    }
}

/* header */

body.lock{
    overflow: hidden;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fbfafb;
}
@media only screen and (min-width: 992px){
	.header{
        background-color: transparent;
        padding: 10px 0px;
    }
    .active { 
        background-color: #fbfafb;
    }
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header__logo {
    position: relative;
    text-align: start;
    z-index: 2;
}

/* burger */

.header__burger {
    display: block;
    position: relative;
    z-index: 4;
    width: 30px;
    height: 20px;
}
@media only screen and (min-width: 992px){
	.header__burger{
        display: none;
    }
}
.header__burger::before, .header__burger::after{
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.header__burger::before{
    top: 0;
}
.header__burger::after{
    bottom: 0;
}
.header__burger span{
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
}
.header__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active::after{
    transform: rotate(-45deg);
    top: 9px;
}
.header__burger.active span{
    transform: scale(0);
}

/* burger */

.header__menu {
    background: #fbfafb;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 10px 25px 20px;
    overflow: auto;
}
@media only screen and (min-width: 992px){
	.header__menu {
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: transparent;
        top: 0;
        padding: 0;
    }
}
.header__menu.active{
    top: 0;
    transition: all 0.3s ease 0s;
}
.header__list {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
}
@media only screen and (min-width: 992px){
    .header__list{
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        top: 0px;
    }
}
.header__list li{
    padding: 15px 0px;
    list-style: none;
}
@media only screen and (min-width: 992px){
    .header__list li{
        padding: 0px 20px;  
    }
}
.header__link {
    font-size: 18px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
@media only screen and (min-width: 992px){
    .header__link{
        font-size: 14px;
    }
}
.header__link:hover{
    border-bottom: 1.5px solid black;
    padding-bottom: 5px;
}

/* header */

/* main */

#main{
    height: 100vh;
    padding: 100px 0px;
}
h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: center;
}
@media only screen and (min-width: 992px){
    h1{
        font-size: 72px;
    }
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
}
#heart{
    width: 50px;
    height: 50px;
}
.main__body{
    width: 100%;
    height: 100%;
}
.main__item{
    grid-column: span 12;
}
#main .buttons{
    display: flex;
    justify-content: center;
}
#main .button{
    width: 200px;
    font-size: 15px;
    padding: 15px 0px;
}

/* main */

/* catalog */

.catalog__item{
    max-width: 350px;
    grid-column: span 12;
    margin: 25px auto;
}
@media only screen and (min-width: 992px){
    .catalog__item{
        grid-column: span 6;
    }
}
.catalog__item img{
    border-radius: 25px;
}
.catalog__item__description{
    margin: 15px 0px;
}
.catalog__item__title{
    font-size: 32px;
    padding: 10px 0px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.catalog__item__subtitle{
    font-size: 16px;
    padding: 10px 0px;
    font-weight: 400;
    line-height: 150%;
}
.buttons{
    margin: 15px 0px;
}
.button{
    display: block;
    color: black;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 0px;
    border: 1px solid black;
    font-weight: 500;
    border-radius: 8px;
}
.button:hover{
    background-color: black;
    color: white;
}

/* catalog */

/* form */

#contact p, #contact h1{
    text-align: center;
}
form{
    color: black;
    width: 100%;
    max-width: 730px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}
.form-element{
    grid-column: span 2;
    margin-bottom: 30px;
}
@media only screen and (min-width: 768px){
    .form-element{
        grid-column: span 1;
        margin: 10px;
    }
}
#message{
    grid-column: span 2;
}
textarea{
    width: 100%;
    min-width: 320px;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}
@media only screen and (min-width: 768px){
    textarea{
        min-width: 680px;
        max-width: 680px;
        min-height: 250px;
        max-height: 250px;
    }
}
.form-element span{
    display: inline-block;
    margin-bottom: 10px;
}
input{
    border-bottom: 1px solid black;
    padding: 5px 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 0px;
}
input:focus, textarea:focus{
    border: 1.5px solid black;
    border-radius: 5px;
}
form .buttons{
    display: flex;
    justify-content: center;
    grid-column: span 2;
    margin: 10px;
}
form .buttons .button{
    margin: 0px;
    width: 200px;
    font-weight: 400;
    background-color: black;
    color: white;
}
form .buttons .button:hover{
    background-color: white;
    color: black;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

/* form */

/* submission */

#submission{
    height: 100vh;
    padding: 250px 0px;
}
#submission h1{
    text-align: center;
    font-weight: 600;
}
#submission h2{
    text-align: center;
    color: black;
    max-width: 500px;
    margin: 0 auto;
}

/* submission */

/* footer */

footer{
    background-color: black;
    padding: 50px 0px;
    position: relative;
    top: 60px;
}
@media only screen and (min-width: 992px){
    footer{
        top: 80px;
    }
}
.footer__body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 992px) {
    .footer__body{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.social{
    color: white;
}
footer p{
    font-size: 14px;
    margin: 10px 0;
    color: white;
}
.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
@media only screen and (min-width: 992px) {
    .footer__social{
        justify-content: end;
    }
}
.social{
    padding: 0px 10px;
}
#email{
    font-size: 14px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
}

/* footer */